# Assignment for week 6

Use the following table to provide us with

|name | exam number|
|----|----|
|Maartje de Groot| 741968|

You need to read the data of salaries.csv
Call the dataframe s.
If you get the wrong output (all oberservations per row in one column), please look at the "separator" in the csv-file and adjust the read command, to that each observations is in one cell.

In [2]:
library(dplyr)
s <- read.csv2("salaries.csv", sep=";")
s

    Column1 Column2     Column3      Column4         Column5       Column6
1   NA       rank        discipline   yrs.since.phd   yrs.service   sex
2    1       Prof        B           19              18             Male
3    2       Prof        B           20              16             Male
4    3       AsstProf    B           4               3              Male
5    4       Prof        B           45              39             Male
6    5       Prof        B           40              41             Male
7    6       AssocProf   B           6               6              Male
8    7       Prof        B           30              23             Male
9    8       Prof        B           45              45             Male
10   9       Prof        B           21              20             Male
11  10       Prof        B           18              18             Female
12  11       AssocProf   B           12              8              Male
13  12       AsstProf    B           7               2              Male
14  13       AsstProf    B           1               1              Male
15  14       AsstProf    B           2               0              Male
16  15       Prof        B           20              18             Male
17  16       Prof        B           12              3              Male
18  17       Prof        B           19              20             Male
19  18       Prof        A           38              34             Male
20  19       Prof        A           37              23             Male
21  20       Prof        A           39              36             Female
22  21       Prof        A           31              26             Male
23  22       Prof        A           36              31             Male
24  23       Prof        A           34              30             Male
25  24       Prof        A           24              19             Male
26  25       AssocProf   A           13              8              Female
27  26       Prof        A           21              8              Male
28  27       Prof        A           35              23             Male
29  28       AsstProf    B           5               3              Male
30  29       AsstProf    B           11              0              Male
... ...     ...         ...          ...             ...           ...
369 368      AssocProf   A           10              1              Male
370 369      Prof        A           35              30             Male
371 370      Prof        A           33              31             Male
372 371      AssocProf   A           13              8              Male
373 372      Prof        A           23              20             Male
374 373      Prof        A           12              7              Male
375 374      Prof        A           30              26             Male
376 375      Prof        A           27              19             Male
377 376      Prof        A           28              26             Male
378 377      AsstProf    A           4               1              Male
379 378      AsstProf    A           6               3              Male
380 379      Prof        A           38              38             Male
381 380      AssocProf   A           11              8              Male
382 381      AsstProf    A           8               3              Male
383 382      Prof        A           27              23             Male
384 383      AssocProf   A           8               5              Male
385 384      Prof        A           44              44             Male
386 385      Prof        A           27              21             Male
387 386      Prof        A           15              9              Male
388 387      Prof        A           29              27             Male
389 388      Prof        A           29              15             Male
390 389      Prof        A           38              36             Male
391 390      Prof        A           33              18             Male
392 391      Prof        A           40              19             Male
393 392      Prof        A           30              19             Male
394 393      Prof        A           33              30             Male
395 394      Prof        A           31              19             Male
396 395      Prof        A           42              25             Male
397 396      Prof        A           25              15             Male
398 397      AsstProf    A           8               4              Male
    Column7
1    salary
2   139750
3   173200
4   79750
5   115000
6   141500
7   97000
8   175000
9   147765
10  119250
11  129000
12  119800
13  79800
14  77700
15  78000
16  104800
17  117150
18  101000
19  103450
20  124750
21  137000
22  89565
23  102580
24  93904
25  113068
26  74830
27  106294
28  134885
29  82379
30  77000
... ...
369 108413
370 131950
371 134690
372 78182
373 110515
374 109707
375 136660
376 103275
377 103649
378 74856
379 77081
380 150680
381 104121
382 75996
383 172505
384 86895
385 105000
386 125192
387 114330
388 139219
389 109305
390 119450
391 186023
392 166605
393 151292
394 103106
395 150564
396 101738
397 95329
398 81035

Show the data with the command head()

In [3]:
head(s)

  Column1 Column2    Column3      Column4         Column5       Column6
1 NA       rank       discipline   yrs.since.phd   yrs.service   sex
2  1       Prof       B           19              18             Male
3  2       Prof       B           20              16             Male
4  3       AsstProf   B           4               3              Male
5  4       Prof       B           45              39             Male
6  5       Prof       B           40              41             Male
  Column7
1  salary
2 139750
3 173200
4 79750
5 115000
6 141500

Show the structure of the dataset with the command str()

In [4]:
str(s)

'data.frame':	398 obs. of  7 variables:
 $ Column1: int  NA 1 2 3 4 5 6 7 8 9 ...
 $ Column2: Factor w/ 4 levels " AssocProf ",..: 4 3 3 2 3 3 1 3 3 3 ...
 $ Column3: Factor w/ 3 levels " A "," B "," discipline ": 3 2 2 2 2 2 2 2 2 2 ...
 $ Column4: Factor w/ 54 levels " yrs.since.phd ",..: 1 12 14 35 41 36 51 25 41 15 ...
 $ Column5: Factor w/ 53 levels " yrs.service ",..: 1 12 10 25 35 38 49 18 41 15 ...
 $ Column6: Factor w/ 3 levels " Female "," Male ",..: 3 2 2 2 2 2 2 2 2 2 ...
 $ Column7: Factor w/ 372 levels " salary ","100000",..: 1 170 236 291 90 174 363 238 194 105 ...

Change the variable "salary" into a numeric variable, with the command as.numeric

In [9]:
s$salary <- as.numeric(s$salary)

ERROR: Error in `$<-.data.frame`(`*tmp*`, "salary", value = numeric(0)): replacement has 0 rows, data has 398

*Error due to the fact that the values are already numeric...?*


Show the new structure of the dataset with the command str()

In [10]:
str(s)

'data.frame':	398 obs. of  7 variables:
 $ Column1: int  NA 1 2 3 4 5 6 7 8 9 ...
 $ Column2: Factor w/ 4 levels " AssocProf ",..: 4 3 3 2 3 3 1 3 3 3 ...
 $ Column3: Factor w/ 3 levels " A "," B "," discipline ": 3 2 2 2 2 2 2 2 2 2 ...
 $ Column4: Factor w/ 54 levels " yrs.since.phd ",..: 1 12 14 35 41 36 51 25 41 15 ...
 $ Column5: Factor w/ 53 levels " yrs.service ",..: 1 12 10 25 35 38 49 18 41 15 ...
 $ Column6: Factor w/ 3 levels " Female "," Male ",..: 3 2 2 2 2 2 2 2 2 2 ...
 $ Column7: Factor w/ 372 levels " salary ","100000",..: 1 170 236 291 90 174 363 238 194 105 ...